{% extends 'base.html' %}

{% block navbar %}
<ul class="nav navbar-nav navbar-right">
    <ul class="nav navbar-nav navbar-right ">
        <li style="margin-top: 15px;margin-right: 5px;"><span class="glyphicon glyphicon-user"></span> Welcome  </li>
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#"> {{ firstname }}<span class="caret"></span></a>
            <ul class="dropdown-menu">
          <li><a href="{{ url_for('user.home', firstname=current_user.firstname) }}">Home</a></li>
          <li><a href="{{ url_for('user.userprofile', firstname=current_user.firstname) }}">Profile</a></li>
          <li><a href="{{ url_for('user.logout') }}">Logout</a></li>
        </ul>
        </li>
    </ul>
</ul>
{% endblock %}

{% block body %}
<div class="container">
    <h1 ><b>Edit Testimonial</b></h1>
  	<hr>
	<div class="row">

      <!-- edit form column -->
      <div class="col-md-9 personal-info">

        <form class="form-horizontal" role="form" action="{{ url_for('testimonials.edit_testimonial', firstname=current_user.firstname, tid=tid) }}" method='post'>
            {{ form.hidden_tag() }}<!--For CSRF -->
            {% if form.title.errors  %}
            <div class="form-group has-error has-feedback">
                <label class="col-lg-3 control-label">Title</label>
                <div class="col-lg-8">
                  <input type="text" class="form-control" id="firstName" placeholder="Title" {{form.title}}
                </div>
            </div>
            {% else %}
          <div class="form-group">
            <label class="col-lg-3 control-label">Title</label>
            <div class="col-lg-8">
              <input type="text" class="form-control" id="firstName" placeholder="Title" {{form.title}}
            </div>
          </div>
          {% endif %}
          {% if form.description.errors  %}
          <div class="form-group has-error has-feedback">
              <label class="col-lg-3 control-label">Description</label>
              <div class="col-lg-8">
                <textarea type="text" class="form-control" rows="5" id="Surname" placeholder="Description" {{form.description}}    </textarea>
              </div>
          </div>
          {% else %}
          <div class="form-group">
            <label class="col-lg-3 control-label">Description</label>
            <div class="col-lg-8">
              <textarea type="text" class="form-control" rows="5" id="Surname" placeholder="Description" {{form.description}}    </textarea>
            </div>
          </div>
          {% endif %}

            <br>
           <div class="form-group">
            <label class="col-md-3 control-label"></label>
            <div class="col-md-8">
                 <input class="btn btn-primary" value="Update" type="submit">
                 <a href="{{ url_for('testimonials.delete_testimonial', firstname=current_user.firstname, tid=tid) }}" class="btn btn-info" role="button">Delete</a>
              <a href="{{ url_for('user.userprofile',firstname=current_user.firstname) }}" class="btn btn-info" role="button">Cancel</a>
            </div>
          </div>



        </form>
      </div>
  </div>
</div>
{% endblock %}
