{% extends 'base.html' %}

{% block body %}

<div class="container-fluid">
    <div class='row'>
			<div class='col-md-6'>

                    <form class="navbar-form navbar-right" role="form" action="" method="post">
                        {{ form.hidden_tag() }}<!--For CSRF -->
                        <div class="form-group">
                            <div class="col-md-6" style="padding-right: 0px;" >
                                <input type="text" class="form-control" placeholder="Email" {{form.email}}
                            </div>
                        <div class="form-group">
                            <div class=" col-md-6">
                                <input type="submit" class="btn btn-success btn-lg btn-block" value="Submit">
                            </div>
                        </div>
           </div>
        </form>
    </div>
</div>

{% endblock %}
