{% extends 'base.html' %}
{% block title %}MedQA{% endblock %}
{% block navbar %}
<form id="signin" class="navbar-form navbar-right" role="form" action="{{ url_for('user.login') }}" method="post">
    {{ form2.hidden_tag() }}<!--For CSRF -->
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <input id="email" type="email" class="form-control" name="email" value="" placeholder="Email Address" {{ form2.email }}
            </div>
            {% for message in form2.email.errors %}
                 <div>{{ message }}</div>
              {% endfor %}
            <div class="input-group">
				<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                <input id="password" type="password" class="form-control" name="password" value="" placeholder="Password" {{form2.password}}
            </div>
            {% for message in form2.password.errors %}
                 <div>{{ message }}</div>
              {% endfor %}

            <button type="submit" class="btn btn-primary">Login</button><br>

            <label class="checkbox inline" >
                           <input type="checkbox" value="remember-me" {{ form2.remember_me}} Remember me
                            </label>

                       <a class="help-inline" href="#" style="margin-left: 125px;">  Forgot password? </a>

        </form>
{% endblock %}



{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="section1">
						<div class="jumbotron">
							<h2>MedQA</h2>
							<p> An online portal where patients can write their testimonial . It needs to cater all different alternative therapies like Homeopathy, Ayurveda, Acupressure, Yoga, Naturopathy along with allopathy. Now a new patient looking for solution to any particular disease can find useful information from the testimonials of different patients who had undergone different kind of treatment.</p>
						  </div>
				</div>
            </div>
            <div class="col-sm-6">
                <div class="section2">
					<div class="bs-example">
						<h1>Create an account</h1>
						<h3>It's free and always will be.</h3>
						<br />
						<form class="form-inline" role="form" action="{{ url_for('user.signup') }}" method='post' >
                            {{ form1.hidden_tag() }}<!--For CSRF -->
							<div class="form-group">
								<label class="sr-only" for="firstName">First name</label>
								<input type="text" class="form-control" id="firstName" placeholder="First name" {{form1.firstname}}
							</div>
                            {% for message in form1.firstname.errors %}
                                 <div>{{ message }}</div>
                              {% endfor %}
							<div class="form-group">
								<label class="sr-only" for="surName">Surname</label>
								<input type="text" class="form-control" id="Surname" placeholder="Surname" {{form1.surname}}
							</div>
                            {% for message in form1.surname.errors %}
                                 <div>{{ message }}</div>
                              {% endfor %}
						<br/>
                        <br/>
							<div class="row">
								<div class="col-sm-9" >
									<div class="form-group">
										<label class="sr-only" for="inputEmail">Email:</label>
										<input type="email" class="form-control" id="inputEmail" placeholder="Email" {{ form1.email }}
									</div>
								</div>
							</div>

                            {% for message in form1.email.errors %}
                                 <div>{{ message }}</div>
                              {% endfor %}
                              {% if error%}{{error}}{% endif %}
                              <br/>
							<div class="row">
								<div class="col-sm-9" >
									<div class="form-group">
										<label class="sr-only" for="inputPassword">Password:</label>
										<input type="password" class="form-control" id="inputPassword" placeholder="Password" {{ form1.password }}
									</div>
								</div>
							</div>
                            <br/>
							<div class="row">
								<div class="col-sm-9" >
									<div class="form-group">
										<label class="sr-only" for="confirmPassword">Confirm Password:</label>
										<input type="password" class="form-control" id="confirmPassword" placeholder="Confirm Password" {{ form1.confirm_Password }}
									</div>
								</div>
							</div>

                            {% for message in form1.confirm_Password.errors %}
                                 <div>{{ message }}</div>
                              {% endfor %}
                              <br />
							<div class="row">
								<div class="col-sm-9" >
									<div class="form-group">
										<label class="sr-only" for="phoneNumber">Phone:</label>
										<input type="tel" class="form-control" id="tel" placeholder="Phone Number" {{ form1.phone_number }}
									</div>
								</div>
							</div>

                            {% for message in form1.phone_number.errors %}
                                 <div>{{ message }}</div>
                              {% endfor %}
                              <br />
                            <!--
							<h3>Birthday</h3>
							<div class="row">
								<div class="col-sm-11" >
									<div class="form-group">
										<label class="sr-only">Date of Birth:</label>
										<div class="col-xs-3">
											<select class="form-control">
												<option>Date</option>
												<option>1</option>
												<option>2</option>
												<option>3</option>
												<option>4</option>
												<option>5</option>
												<option>6</option>
												<option>7</option>
												<option>8</option>
												<option>9</option>
												<option>10</option>
												<option>11</option>
												<option>12</option>
												<option>13</option>
												<option>14</option>
												<option>15</option>
												<option>16</option>
												<option>17</option>
												<option>18</option>
												<option>19</option>
												<option>20</option>
												<option>21</option>
												<option>22</option>
												<option>23</option>
												<option>24</option>
												<option>25</option>
												<option>26</option>
												<option>27</option>
												<option>28</option>
												<option>29</option>
												<option>30</option>
												<option>31</option>
											</select>
										</div>
										<div class="col-xs-3">
											<select class="form-control">
												<option>Month</option>
												<option>January</option>
												<option>February</option>
												<option>March</option>
												<option>April</option>
												<option>May</option>
												<option>June</option>
												<option>July</option>
												<option>August</option>
												<option>September</option>
												<option>October</option>
												<option>November</option>
												<option>December</option>
											</select>
										</div>
										<div class="col-xs-3">
											<select class="form-control">
												<option>Year</option>
												<option>1982</option>
												<option>1983</option>
												<option>1984</option>
												<option>1985</option>
												<option>1986</option>
												<option>1987</option>
												<option>1988</option>
												<option>1989</option>
												<option>1990</option>
												<option>1991</option>
												<option>1992</option>
												<option>1993</option>
												<option>1994</option>
												<option>1995</option>
												<option>1996</option>
												<option>1997</option>
												<option>1998</option>
												<option>1999</option>
												<option>2000</option>
												<option>2001</option>
												<option>2002</option>
												<option>2003</option>
												<option>2004</option>
												<option>2005</option>
												<option>2006</option>
												<option>2007</option>
												<option>2008</option>
												<option>2009</option>
												<option>2010</option>
												<option>2011</option>
												<option>2012</option>
												<option>2013</option>
												<option>2014</option>
												<option>2015</option>
												<option>2016</option>
											</select>
										</div>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-sm-9" >
									<div class="form-group">
										<label class="sr-only" col-xs-3">Gender:</label>
											<div class="col-xs-2">
												<label class="radio-inline">
												<input type="radio" name="genderRadios" value="male"> Male
												</label>
											</div>
											<div class="col-xs-2">
												<label class="radio-inline">
												<input type="radio" name="genderRadios" value="female">Female
												</label>
											</div>
									</div>
								</div>
							</div>
                            -->
                            <br/>
							<div class="row">
								<div class="col-sm-9" >
									<div class="form-group">
										<div class=" col-xs-9">
											<label class="checkbox-inline">
											<input type="checkbox" value="agree" {{ form1.terms_cond }} I agree to the <a href="#">Terms and Conditions</a>.
											</label>
										</div>
									</div>
								</div>
							</div>
                            <br/>
							<div class="row">
								<div class="col-sm-9" >
									<div class="form-group">
										<div class="col-xs-9 col-sm-offset-2">
											<input type="submit" class="btn btn-success btn-lg btn-block" value="Create an account">
										</div>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
            </div>
        </div>
    </div>

{% endblock %}
