body{
	background: url(assests/medwall1.jpg);
	background-size: 100px 80px
	background-repeat: no-repeat;

}
#logo{
	height: 140px;
	width: 180px;
	padding-right: 0px;
	
}
 

.heading{
	float: left;
	font-size: 80px;
	padding-left: 50px;
	letter-spacing: 3px;
	font-family: sans-serif;
	color: 696969;
	padding-right: 20px;
}
.form-inline{
	float: right;
	padding-top: 70px;
	padding-right: 40px;
}

#login{
	font-size: 17px;
	color: black;
}


.row{
	margin: auto;
	margin-left: -540px;
	margin-top: 200px;
	float: left;
	width: 550px;
	height: 400px;
	
}

.intro{
	line-height: 45px;
	margin-left: 30px;
	margin-right: 10px;
}
.form-horizontal{
	margin-top: 60px;
	float: right;
	width: 600px;
	height: 700px;

	

}

#abtmed{
	margin-left: 30px;
}

#create{
	width: 250px;
	height: 100px;
	padding-top: 10px;

}

#acc{
	
	color: black;
}

.well{
	opacity: 0.8
}

.radio-inline{
	color: black;
}