<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename = 'css/assets/images/favicon.ico') }}"/>
<title>MedQa</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/style.css') }}"  >
{% block file %}{% endblock %}

</head>
<body>
    <div class="wrapper">
<nav class="navbar navbar-default" >
  <div class="container-fluid">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ url_for('user.signup') }}"><img src="{{ url_for('static', filename = 'css/assets/images/logo.png') }}" id="logo"/></a>
    </div>


    <div class="collapse navbar-collapse" id="navbar-collapse-1">
    {% block navbar %}{% endblock %}

    </div>
  </div>
</nav>

{% block body %}
{% endblock %}
<div class="push"></div>
</div>
<!-- Footer -->
	<div id="footerwrap">
			<div class="container">
				<h4>&#169; Copyright 2016 </h4>
			</div>
		</div>


</body>
</html>
