<html>
  <head>
      <title>Medqa</title>
      <meta name="viewport" content="width=device-width , initial-scale: 1.0,user-scale:0 " />

      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/index.css') }}"  >
  </head>
  <body>
    <div id ="header">
        <div class="logo"><span>Medqa</span></div>
        <div class="login">
            <form action = "" method="get">

                <label>E-mail Id</label>
                <input type="text" placeholder="E-mail Id"/>
                <label>Password</label>
               <input type="password" placeholder="Password" />
               <input type="submit" value="Sign In"/>
               <br>

              <input type ="checkbox">Keep me logged in
              <a href ="#" style="padding-left:104px;"> Forgot Password</a>

            </form>
        </div>
        <hr>
    </div>

{% block body %}
{% endblock %}

<footer>
  @Copyright2016
</footer>.
</body>
</html>
