<html>
  <head>
      <title>Medqa</title>
      <meta name="viewport" content="width=device-width , initial-scale: 1.0,user-scale:0 " />

      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/index.css') }}"  >
  </head>
  <body>
    <div id ="header">
        <div class="logo"><span>Medqa</span></div>
        <div class="login">
            <form action = "" method="get">

                <label>E-mail Id</label>
                <input type="text" placeholder="E-mail Id"/>
                <label>Password</label>
               <input type="password" placeholder="Password" />
               <input type="submit" value="Sign In"/>
               <br>

              <input type ="checkbox">Keep me logged in
              <a href ="#" style="padding-left:104px;"> Forgot Password</a>

            </form>
        </div>
        <hr>
    </div>
    <div id="container">
        <div class="content">
    	       <p style="font-size:40px;">About Medqa </p><br /> <br />
            <p> Medqa helps you to connect with the doctors directly and know more about the precautions and prevention of the disease.</p> <br /> <br />

            <p> Medqa helps you to connect with the doctors directly and know more about the precautions and prevention of the disease.</p> <br /> <br />

            <p> Medqa helps you to connect with the doctors directly and know more about the precautions and prevention of the disease.</p> <br /> <br />

            <p> Medqa helps you to connect with the doctors directly and know more about the precautions and prevention of the disease.</p> <br /> <br />

        </div>
        <div class="signup">
            <div class ="huge"> Sign up</div>
            <p style="font-size:36px; font-weight:bold;color:#333333">Create an account</p>
            <p> Its free always will be </p> <br />
            <div id="form">
            <form action = "" method="get">
                     <input type="text"  placeholder="Name"/> <br/>
                     <input type="text" placeholder="E-mail Id"/> <br />
                     <input type="password" placeholder="Password"/> <br />
                    <input type="password" placeholder="Confirm Password"/> <br />
                    <input type="radio" > Male</input>
                     <input type="radio" > Female</input> <br />
                     <input type="checkbox" >Confirm</input> <br /> <br />
                     <p style="font-size:15px;">By clicking Create an account , you agree to our Terms and <br>that you have read our Data Policy.</p> <br/>
            <hr> <br />

                      <input type="submit" value="Create an account">
            </form>
            </div>





        </div>
    </div>
    <footer>
      @Copyright2016
    </footer>.
  </body>
</html>
