<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename = 'css/assets/images/favicon.ico') }}"/>
<title>Landing </title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="{{ (filename = 'style.css') }}"  >
<link rel="stylesheet" type="text/css" href="style_landing.css" >
</head> 

<body>

	<div class="well">
		<nav class="navbar" role="navigation">
		  <!-- Brand and toggle get grouped for better mobile display -->
		  <div class="navbar-header">
			<a class="navbar-brand" href="#">MedQA </a>
		  </div>

		  <!-- Collect the nav links, forms, and other content for toggling -->
		  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			
			<div class="col-sm-3 col-md-3">
				<form class="navbar-form" role="search">
				<div class="input-group">
					<input type="text" class="form-control" placeholder="Ask Question " name="q">
					<div class="input-group-btn">
						<button class="btn btn-primary" type="submit">Search </button>
					</div>
				</div>
				</form>
			</div>
			<ul class="nav navbar-nav navbar-right">
			  <li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown"><B> Welcome username </B><b class="caret"></b></a>
				<ul class="dropdown-menu">
				  <li><a href="#">View Profile</a></li>
				  <li><a href="#">Edit Profile</a></li>
				  <li><a href="#">Add Photo</a></li>
				  <li class="divider"></li>
				  <li><a href="#">Logout</a></li>
				</ul>
			  </li>
			</ul>
		  </div><!-- /.navbar-collapse -->
		</nav>
	</div>



	<div class="container-fluid">

		  <div class="row">
		 
				<div class="container col-md-6">
				  <div class="panel panel-default">
					<div class="panel-heading"><span class="glyphicon glyphicon-paperclip"> </span><B> TRENDING </B></div>
					<div class="panel-body">
						<ul>
							<li class="news">Cancer</li>							
							<li class="news">Thyroid is serious</li>							
							<li class="news">blah blah...</li>						
							<li class="news"></li>
							<li class="news"></li>

							<li class="news"></li>
						</ul>
					</div>
				  </div>
				</div>

				<div class="container col-md-6">
				  <div class="panel panel-default">
					<div class="panel-heading"><span class="glyphicon glyphicon-pushpin"> </span><B> GENERAL </B></div>
					<div class="panel-body">
						<ul>
							<li class="news">Cancer</li>
							<li class="news">Thyroid is serious</li>
							<li class="news">blah blah..</li>
							<li class="news"></li>
							<li class="news"></li>
							<li class="news"></li>
						</ul>
					</div>
				  </div>
				</div>

		  </div>


		
	</div>

	

	

</body>


</html>